.user-profile-card{
    /* background-color: grey; */

    background-color: rgba(0, 0, 0, 0.7);
    color: #B4B4B3;
    /* color: #888; */
    margin: 10px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 40px;
    width: 560px;
    height: 400px;
    border-radius: 16px;
    flex: none;
    cursor: pointer;
    /* border: #FF6000 solid 2px; */
    border: 2px solid #888; /* Borda para criar profundidade */
}

.user-profile-card:hover{
    /* border: 3px solid #FF6000; 
    color: #FF6000;
    transition: 0.5s; */
}

.user-profile-card .image {
    display: flex;
    flex-direction: row;
    flex-wrap: unset;
    padding: 0;
}

.user-profile-card .image .profile-card-header{
    display: flex;
    flex-direction: column;
    margin-left:20px;
}

.user-profile-card .image .profile-card-header .profile-card-name{
    width: 100%;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
    text-transform: uppercase;

}
.user-profile-card .image .profile-card-header .profile-card-city{
    width: 100%;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 100;
    margin-top: 3px;
    /* margin-left: 50px; */
}
.user-profile-card .image .profile-card-header .profile-card-instruments{
    width: 70%;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 100;
    margin-top: 13px;
    /* margin-left: 50px; */
}

.user-profile-card img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    /* border: #FF6000 solid 3px; */
    border: #888 solid 3px;
    border-radius: 50%;
}

.user-profile-card img:hover{
    border: 3px solid #FF6000; /* Borda para criar profundidade */
    color: #FF6000;
    transition: 0.5s;
}

.profile-card-info{
    margin-top: 10px;
    margin-left: 10px;
    width: 100%;
    height: 170px;
    overflow-y: hidden;
    flex-direction: row;
}

.profile-card-description-title{
    font-weight: bold;
    text-transform: uppercase;
    font-family: sans-serif;
    /* margin-left: 20px; */
    margin-top: 13px;
}

.profile-card-description-text{
    text-align: justify;
    height: 100%;

    /* margin-left: 45px; */
    /* font-family: Geneva, Tahoma; */
    /* overflow: scroll; */
}

.profile-card-instruments-title{
    font-weight: bold;
}

.profile-card-solic-button{
    display: flex;
    justify-content: center;
    /* width: 300px; */
    width: 100%;
}


.profile-card-like{
    padding-left:46px;
    padding-right: 17px;
    margin-top: 6px;
    /* color: #FF6000; */
    display: flex;
    /* padding-top: 15px; */
    justify-content: space-between;
    align-items: center;
    width: 300px;
    /* background-color: #FF6000; */
    border-radius: 10px;
    color: #B4B4B3;
    border: 2px solid #888; /* Borda para criar profundidade */

}

.profile-card-like:hover{
    /* border: yellow solid 2px; */
    background-color: #FF6000;
    color: black;
    transition: 0.6s;

}

.profile-card-like .profile-card-like-text{
    margin-left: 25px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px;
}