.home-body{
    margin: 0;
    background-color: #1E1D1D;
    background-size: cover;
    width: 100%;
    min-width: 100vh;
    height: 100%;
    min-height: 100vh;
}

.home-search-bar{
    background-color: #1E1D1D;
    position: fixed; /* Torna a barra de pesquisa fixa */
    top: 0; /* Define a posição no topo da tela */
    width: 100%; /* Preenche a largura total da tela */
    z-index: 999; /* Controla a ordem de empilhamento, se necessário */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-select-band-user{
    /* color: antiquewhite; */
    background-color: #F39200;
    /* width: 40px; */
    height: 40px;
    border-radius: 10px;
    margin-left: 15px;
}

.outlined-adornment-search{
    background-color: #B4B4B3;
    /* border: #FF6000 solid 2px; */

}

.home-navbar-menu{
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 20px;
}

.home-searchbar-menu-icon{
    width: 40px;
    border-radius: 3px;
    color: #B4B4B3;
    /* border: #FF6000 solid 2px; */
    /* margin-right: auto; */
}

.home-searchbar-notification-bell-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
}

.home-searchbar-bell-icon{
    /* background-color: #B4B4B3; */
    width: 40px;
    border-radius: 3px;
    font-size: 31px;
    padding-left: 4px;
    padding-top: 4px;
    color: #B4B4B3;
}

.home-searchbar-chat-icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
}

.home-searchbar-chat-icon{
    /* background-color: #B4B4B3; */
    width: 40px;
    border-radius: 3px;
    font-size: 31px;
    padding-left: 4px;
    padding-top: 4px;
    color: #B4B4B3;
}

.home-body{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('../assets/backgroundfeed.jpg') no-repeat; */
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('../assets/backgroundfeed2.jpg') no-repeat;
    /* background-size:  cover; */
    background-size:  cover;
    background-attachment: fixed;
    height: 100%;
    /* overflow-y: scroll; */


}

.home-feed{
    /* background-color: rgba(0, 0, 0, 0.45); */
    /* background-color: transparent; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60%;
    padding-top: 60px;
}


